-e ../../../tools/vcrpy
-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
../../core/azure-core
../azure-storage-blob
-e ../../identity/azure-identity
aiohttp>=3.0; python_version >= '3.5'
adal
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
