-e ../../../tools/azure-sdk-tools
azure-mgmt-cognitiveservices<12.0.0
-e ../../../tools/azure-devtools
azure-core
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
